command script import /usr/local/opt/chisel/libexec/fblldb.py
command script import ~/.lldb/paint.py

# alias
command alias poc expression -l objc -O --
command alias flush expression -l objc -O -- [CATransaction flush]
command alias tj thread jump --by 1
